
<IfModule mod_rewrite.c>

    RewriteEngine on

    RewriteBase /api/3d-map-tiles

    # xml3d model
    RewriteRule ^([a-z\-_]+)/([0-9]+)/([0-9]+)/([0-9]+)\.xml$  $1/$2/$3/$4-model.xml [L]

    # xml3d asset (assetmesh, transform, shader)
    RewriteRule ^([a-z\-_]+)/([0-9]+)/([0-9]+)/([0-9]+)-(model|asset)\.xml$  query.php?request=$5&provider=$1&z=$2&x=$3&y=$4 [L]

    # xml3d texture (shader)
    RewriteRule ^([a-z\-_]+)/([0-9]+)/([0-9]+)/([0-9]+)-(texture)(-([a-z0-9\-_]+))?\.(png|jpg)$  query.php?request=$5&provider=$1&z=$2&x=$3&y=$4&image=$7&format=$8 [L]

    # redirect any other request to the error page
	RewriteCond %{REQUEST_FILENAME}  !-f
    RewriteRule ^(.*)$  error.php [L]
</IfModule>

# secure other git files
<FilesMatch "(\.git.*)$">
    Require all denied
</FilesMatch>


<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

