{
  "osm" : {
    "backend" : "osm-geometry",
    "config" : {
      "endpoint" : "http://overpass-api.de/api/interpreter",
      "params" : {
      },
      "osm-url" : "http://a.tile.openstreetmap.org",
      "cache" : 300
    }
  }
}