{
  "osm" : {
    "backend" : "osm-geometry",
    "config" : {
      "overpass" : {
        "endpoint" : "http://overpass-api.de/api/interpreter"
      },
      "osm" : {
        "endpoint" : "http://a.tile.openstreetmap.org"
      },
      "texture" : {
        "lod-delta" : 0
      },
      "cache" : 300
    }
  }
}